:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: hsl(248, 57%, 45%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 60vw;
  gap: 2rem;
}

.question-counter {
  color: #9874fc;
  font-size: 1.5rem;
  font-weight: 500;
}

.card {
  background-color: #9874fc;
  color: white;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  width: 100%;
  height: 250px;
  overflow-y: auto; 
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
  transition: transform 200ms ease, box-shadow 200ms ease;
}

.card:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}

.card > h2 {
  word-break: break-word;
  margin: auto; /* card has display: flex and width so margin: auto will center the h2 */
}

.card > h2.answer {
  font-weight: 400;
}

.btn-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.previous-btn,
.next-btn {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  background-color: hsl(256, 96%, 72%);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  transition: background-color 200ms ease, transform 200ms ease, box-shadow 200ms ease;
}

.previous-btn:hover,
.next-btn:hover {
  background-color: hsl(256, 96%, 60%);
}

.previous-btn:active,
.next-btn:active {
  transform: translate(3px, 3px);
  box-shadow: none;
}

.previous-btn:disabled,
.next-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #ccc;
}

.previous-btn:disabled:active,
.next-btn:disabled:active {
  transform: none;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}


@media (max-width: 600px) {
  .container {
    width: 90vw;
    gap: 1rem;
  }

  .card {
    max-height: 200px;
    font-size: 1rem;
    padding: 1rem;
  }

  .card > h2 {
    font-size: 1.2rem;
  }

  .question-counter {
    font-size: 1.2rem;
  }

  .previous-btn,
  .next-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
  }
}
