:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #F2F0EF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 60vw;
  gap: 2rem;
}

.question-counter {
  color: #9874fc;
  font-size: 1.5rem;
  font-weight: 500;
}

.card {
  background-color: #9874fc;
  color: white;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  overflow-y: auto; 
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
}

.card > h2 {
  word-break: break-word;
}

.card > h2.answer {
  font-weight: 400;
}

.btn-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.previous-btn,
.next-btn {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  background-color: hsl(256, 96%, 72%);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.previous-btn:hover,
.next-btn:hover {
  background-color: hsl(256, 96%, 60%);
}

.previous-btn:disabled,
.next-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #ccc;
}
